


.about-body {
    display: flex;
    padding: 5vmin;
}

.about-left {
    text-align: left;
    padding-right: 10vmin;
    padding-top: 4vmin;
}

.about-right {
    float: right;
    margin-bottom: 6vmin;
}

.headshot {
    height: 40vmin;
    border-radius: 6vmin;
    margin-bottom: 2vmin;
}

