.connect-btn {
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    opacity: 0.9;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 2vmin;
    padding: 15px;
    margin: 15px;
    transition: all 0.2s ease-in-out;
}

.connect-btn:hover {
    color: #282c34;
    border-color: #282c34;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}