


.about-body {
    display: flex;
    padding: 0 5vmax 4vmax 5vmax;
}

.about-left {
    text-align: left;
    padding-top: 1vmin;
    padding-right: 6vmax;
}

.about-right {
    float: right;
    margin-bottom: 4vmin;
    padding-top: 2vmin;
}

.headshot {
    height: 40vmin;
    border-radius: 6vmin;
    margin-bottom: 2vmin;
}

