.navbar {
    background-color: #282c34;
    color: white;
    font-family: sans-serif;
}

.link-wrapper {
    text-align:right;
    color: white; 
}

.link-wrapper button {
    text-decoration: none;
    padding: 15px;
    font-family: sans-serif;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    border: 0px;
    cursor: pointer; 
    color: white;
      
}

.link-wrapper button:hover {
    opacity: 1.0;
}