

.card-container {
    align-items: center;
    width: 50vmax;
    margin: auto;
}

.img-container {
    position: relative;
    margin: auto;
    height: 30vmin;
    border-radius: 3vmin;
}

.view-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.project-img {
    height: 30vmin;
    margin: auto;
    border-radius: 3vmin;
}

.project-img:hover {
    background-color: rgba(0, 0, 0, 0.8);
}